[submodule "reference/Hoshi-Reader-iOS"]
	path = reference/Hoshi-Reader-iOS
	url = https://github.com/Manhhao/Hoshi-Reader.git
	branch = develop
[submodule "third_party/hoshidicts-kotlin-bridge"]
	path = third_party/hoshidicts-kotlin-bridge
	url = https://github.com/kaihouguide/hoshidicts-kotlin-bridge.git
	branch = main
